
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#add{
    padding: 10px;
}
#add:hover{
    filter: none;
    background-color: #fffd98;
}
#clear {
    padding: 10px;
}

.input-container{
    display: flex;
    gap: 10px;
    border-color: yellow;
}
input{
    padding: 10px;
    width: 300px;
    font-size: 1rem;
}
input:focus {
    outline: none;
    cursor: text;
    border-color: #23395b;
}
#edit-task-dropdown{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
