#confirmpopup{
    background-color: #d81e5b;
}
#confirmpopup {
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 1000;
    color: #23395b;
    background-color: #FFFF;
    padding: 50px;
    border-radius: 12px;
}


.question {
    text-align: center;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

}#yes {
    background-color: #59c9a5;
    border: 1px solid #FFFF;
    border-radius: 8px;
}
#no {
    background-color: #d81e5b;
    border: 1px solid #FFFF;
    color: #FFFF;
    border-radius: 8px;
}