#editpopup{
    background-color: #b9e3c6;
    color: #FFFF;
    border: 1px solid #59c9a5;
}
#editpopup {
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 1000;
    color: #FFF;
    padding: 50px;
    border-radius: 12px;
}

.question {
    text-align: center;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#save {
    background-color: #59c9a5;
    border: 1px solid #FFFF;
    color: #23395b;
    border-radius: 8px;
}
#cancel {
    background-color: #d81e5b;
    border: 1px solid #FFFF;
    border-radius: 8px;
    color: #FFFF;
}