section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    color: #FFFF;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    align-items: center;
    padding: 10px 20px;
}
